@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');

* {
    font-family: 'Barlow', sans-serif;
}

html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #181818;
    height: 100vh;
    overflow-x: hidden;
}

p {
    font-weight: 300;
    margin: 0;
    color: white;
    text-align: center;
    font-variant-numeric: tabular-nums;
}

#background {
    border-bottom: 1px solid rgb(38, 38, 38);
}

#decimal-year {
    font-size: 7vw;
    font-weight: 400;
}

.border {
    border: 1px solid white;
    padding: 2vw 3.5vw;
    width: 65vw;
}

.container-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    backdrop-filter: blur(5px);
}

.large-bar-container {
    margin-top: -1px;
    border: 1px solid white;
    height: 2vw;
}

.bar-container {
    margin-top: -1px;
    border: 1px solid white;
    height: 1.5vw;
}

.large-bar {
    display: block;
    margin: 0;
    background-color: white;
    height: 2vw;
}

.bar {
    display: block;
    margin: 0;
    background-color: white;
    height: 1.5vw
}

.ff {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    overflow: visible;
    text-align: center;
    transition: 200ms;
}

.ff p {
    font-size: 16px;
    word-spacing: 1px;
}

.heart {
    position: relative;
    margin: 3.2px 4px 0px 4px;
    filter: brightness(0) invert(1);
}

.extras-button {
    background-color: transparent;
    font-size: 16px;
    border: 1px solid white;
    position: absolute;
    padding: 0.5em 1em;
    top: 1em;
    right: 1em;
    color: white;
    backdrop-filter: blur(5px);
    transition: 200ms;
}

.extras-button:hover {
    background-color: white;
    color: black;
    transition: 200ms;
}

.progress-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5em;
    column-gap: 4vw;
    padding-bottom: 0.75em;
    justify-content: center;
}

.progress-container-block {
    flex-grow: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    font-size: 3vw;
}