@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');

* {
    font-family: 'Barlow', sans-serif;
}

html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #181818;
    height: 100vh;
    overflow-x: hidden;
}

p {
    font-size: 5vw;
    font-weight: 300;
    margin: 0;
    color: white;
    text-align: center;
}

#background {
    border-bottom: 1px solid rgb(38, 38, 38);
}

#decimal-year {
    font-variant-numeric: tabular-nums;
    font-size: 7vw;
    font-weight: 400;
}

.border {
    border: 1px solid white;
    padding: 2vw 3.5vw;
    width: 65vw;
}

.container-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    backdrop-filter: blur(5px);
}

.bar-container {
    margin-top: -1px;
    width: 72vw;
    height: 1.5vw;
    border: 1px solid white;
}

.bar {
    display: block;
    margin: 0;
    background-color: white;
    height: 1.5vw;
}

.ff {
    padding: 2em;
    display: flex;
    position: absolute;
    transform: translate(calc(-50% + 50vw));
    overflow: visible;
}

.ff p {
    font-size: 16px;
    word-spacing: 1px;
}

.heart {
    position: relative;
    margin: 3.2px 4px 0px 4px;
    filter: brightness(0) invert(1);
}

.progress-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    justify-content: center;
}

.progress-container p {
    font-size: 1.25em;
    text-align: left;
}